html {
    scroll-behavior: smooth;
}

/* User Accessibility */
@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

/* Fonts */

@font-face {
    font-family: 'college-football';
    src: url(./fonts/college-football-sans-font/CollegeFootballSans-1vaj.ttf);
}

@font-face {
    font-family: 'Tungsten';
    src: url(fonts/Tungsten/Tungsten-Medium.otf);
}

/* Fonts */



/* Background & Sections */

body {
    margin: 0;
    padding: 0;
    background: maroon;
    position: relative;
    font-family: 'Tungsten';
    
}

section {
    height: 100vh;
    width: 100%;
    background-color: white;
    display: grid;
    place-items: center;
    align-content: center;
}

.podcast-section {
    margin: 0;
    height: 50vh;
    width: 100%;
    background-color: white;
}

/* Background & Website Size */



/* Landing View */

.landing-image {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-image: url("./images/Kyle.png");
    background-repeat: no-repeat;
    background-position: center;
}

li {
    display: inline;
    padding: 0;
    margin-top: 60px;
}

.fa {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: maroon;
    color: white;
    scale: 160%;
    float:right;
    margin-right: 40px;
}



    /* Listen Now Redirect */

    .learn-container {
        display: grid;
        flex-direction: column;
        justify-self: center;
    }

    .name {
        color: white;
        font-size: 160px;
        width: 100%;
        margin-top: 20vh;
        text-align: center;
        transition: all 1s;
    }

    .learn-button {
        background-color: maroon;
        color: white;
        border-color: gray;
        width: 200px;
        font-size: 40px;
        margin: auto;
        margin-top: 1vh;
        font-family: 'Tungsten';
        border-style: solid;
        text-align: center;
        text-decoration: none;
        padding: 10px;
        transition-timing-function: ease-out;
        transition: all 1s;
        transition-delay: .3s;
    }

    .learn-button:hover {
        scale: 105%;
        transition-delay: 0s;
        transition-duration: .3s;
    }

    .hidden {
        opacity: 0;
        filter: blur(5px);
        transform: translateY(-20px);
    }
    
    .show {
        opacity: 1;
        transform: translateX(0);
        filter: blur(0px);
    }

    /* About us Redirect */

/* Landing View */




/* Podcast Section */

.latest {
    width: fit-content;
    padding: 30px;
    font-size: 72px;
    height: 100%;
    margin-left: 50px;
    background-color: gray;
    color: white;
}

.about-podcast {
    background-color: gray;
    width: 360px;
    height: 360px;
    font-size: 72px;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}


/* Podcast Section */



/* About the Creators */
/* About the Creators */
